---
import { Image } from 'astro:assets';
import profileImage  from "../../public/profile.png";

interface Props {
  title: string
  subtitle: string,
  description: string
}

const { title, subtitle, description } = Astro.props
---

<div id="apresentation" class="flex items-center justify-around mt-12 max-xl:flex-row-reverse">
  <figure class="max-lg:hidden">
    <Image title="Fernando schmidt" src={profileImage} alt="Imagem de Fernando schmidt Consultor de Negócios" id="imageProfile" class="max-2xl:w-[360px] max-3xl:w-[480px] w-[600px]" />
    <figcaption class="text-center text-slate-200 font-light max-3xl:text-base text-[1.8rem]">Consultor de negócios</figcaption>
  </figure>
  
  <div class="max-w-[70rem] max-3xl:max-w-[50rem] max-2xl:max-w-[40rem] max-lg:max-w-full">
    <p class="font-Poppins text-[2rem] max-sm:text-[1.5rem] text-gray-500 leading-none font-semibold max-[380px]:leading-7"> {subtitle}</p>
    <h1 class="font-Poppins max-sm:text-[2.8rem] max-2xl:text-[4rem] text-[5rem] font-bold text-white leading-tight
    max-[380px]:text-[2.2rem]">{title}</h1>

    <div class="indent-6 font-semibold first-letter:capitalize break-all text-zinc-400 mt-12
    max-2xl:text-[1rem] text-[1.5rem] max-xl:max-w-[35rem] max-lg:max-w-full">
      <span>{description}</span>
    </div>
    
  </div>

  <!-- Mídias sociais -->
</div>