---
import { Image } from 'astro:assets';
import ademiconLogo  from "../../public/ademicon.svg";
import Social from './utils/Social.astro';
---

<footer  class={`px-20 py-4 bg-black/50 flex justify-between max-[800px]:flex-col max-[800px]:flex-col
max-[800px]:gap-12 max-[800px]:px-10`} id="footer">
  <Image title="Fernando schmidt" src={ademiconLogo} alt="Imagem de Fernando schmidt Consultor de Negócios" id="imageProfile"
  class={`max-2xl:w-[280px] max-3xl:w-[360px] w-[480px] max-[800px]:mt-4`} />

  <div class="text-center">
    <h2 class="max-3xl:text-2xl text-[2.5rem] max-sm:text-[22px] font-Poppins font-bold text-white" >Entre em contato comigo!</h2>
    <Social className='flex w-full items-center justify-center gap-2 mt-2' showText={false}/>
  </div>
</footer>