<script type="module">

const toggleArrow = document.getElementById("arrow");
const sidebarTop = document.getElementById("sidebarTop");

let toggleSidebar = false;

window.addEventListener("resize", () => {
  
  if(window.innerWidth > 636) {
    sidebarTop.style.marginTop = "0px";
    toggleSidebar = false;
  } else {
    sidebarTop.style.marginTop = "-170px";
  }
  
})

toggleArrow.addEventListener("click", () => {
  toggleSidebar == true ? toggleSidebar = false : toggleSidebar = true

  if(toggleSidebar) {
    sidebarTop.style.marginTop = "0px";
  } else {
    sidebarTop.style.marginTop = "-170px";
  }

})

</script>

<header class="px-20 max-sm:px-10 text-white bg-[#13151a] border-b fixed w-full">
  <nav>
    <ul class="flex justify-evenly font-Poppins max-sm:flex-col max-sm:gap-4 max-sm:text-center
    max-sm:mt-[-170px] mt-0 p-4 transition-all max-2xl:text-base max-3xl:text-xl text-2xl" id="sidebarTop">
      <li class="relative">
        <a class="after:content-[''] after:absolute after:bg-red-400 after:h-[3px] after:w-0 after:left-0 after:bottom-0 after:transition-all hover:after:w-full" href="#apresentation">Início</a>
      </li>
      <li class="relative">
        <a class="after:content-[''] after:absolute after:bg-red-400 after:h-[3px] after:w-0 after:left-0 after:bottom-0 after:transition-all hover:after:w-full" href="#products">Produtos</a>
      </li>
      <li class="relative">
        <a class="after:content-[''] after:absolute after:bg-red-400 after:h-[3px] after:w-0 after:left-0 after:bottom-0 after:transition-all hover:after:w-full" href="#aboutMe">Sobre mim</a>
      </li>
      <li class="relative">
        <a class="after:content-[''] after:absolute after:bg-red-400 after:h-[3px] after:w-0 after:left-0 after:bottom-0 after:transition-all hover:after:w-full text-red-400 font-medium" href="#ademicon">Ademicon</a>
      </li>
    </ul>
  </nav>

  <div class="
  max-sm:flex max-sm:justify-center
  cursor-pointer
  hidden
  relative
  max-sm:before:content-['']
  max-sm:before:w-10
  max-sm:before:h-10
  max-sm:before:rounded-full
  max-sm:before:mb-[-10px]
  max-sm:before:shadow-md
  max-sm:before:bg-zinc-800"
  
  id="arrow">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 absolute top-1 left-46">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
  </div>
</header>