---
import Apresentation from "./Apresentation.astro";
---

<main class="px-20 max-sm:px-10 mt-20 flex-1 min-h-dvh">
  <Apresentation title="Especialista em consórcio" subtitle="Fernando schmidt" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus eum quae distinctio reprehenderit, illo mollitia nihil est itaque iure ratione aliquam cum asperiores suscipit qui perspiciatis, maiores ex! Facilis, porro!" />
</main>