---
import Apresentation from "./main/Apresentation.astro";
import Details from "./main/Details.astro";

import Products from "./main/Products.astro";
import AboutMe from "./main/AboutMe.astro";
import Ademicon from "./main/Ademicon.astro";
---

<main class="px-20 max-sm:px-10 max-lg:px-14 mt-20 flex-1 flex flex-col gap-[6rem] min-h-dvh">
  <Apresentation title="Especialista em consórcio" subtitle="Fernando schmidt" description="Ao longo de sua carreira, Fernando  já facilitou a realização dos sonhos de centenas de pessoas, ajudando-as a adquirir bens de forma inteligente e acessível por meio de consórcios. Comercializando mais de 3 milhões de consórcios em diversos setores, incluindo automóveis, imóveis e serviços, ele se destaca pela sua expertise e dedicação ao cliente. Junte-se a nossa equipe e dê o primeiro passo rumo à realização dos seus objetivos financeiros e materiais. Conheça nossos serviços e descubra como podemos ajudá-lo a alcançar seus sonhos de forma inteligente e acessível." />

  <Details />
  <Products />
  <AboutMe />
  <Ademicon />
</main>